.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calEvents {
  background: #393a3d;
  min-height: 30px;
  color: #fff;
  border-radius: 0px;
}
.fcContent {
  white-space: normal;
}
.eventTitle,
.eventTime {
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px;
  margin-left: 0;
}
.modalTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 16px;
}
